<div ng-controller="ConsoleCtrl" ng-init="init()" style="margin-bottom: 25px; margin-top: 60px;">
  <div class="container">
    <div class="row" style="margin-bottom: 25px;">
      <div class="col-xs-12 enterprise-PASS">
        <span class="name">Enterprise Status</span>
        <span class="pull-right">Fully Operational</span>
      </div>
    </div>
    <div class="row" ng-repeat="component in components">
      <div class="col-xs-12">
        <span class="name">{{component.name}}</span>
        <span class="pull-right color-{{component.status}}">{{component.status}}</span>
      </div>
    </div>
  </div>
</div>
<!-- /.intro-header -->