<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Triage</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#signin">Sign In</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Triage</h1>
                    <h3>Beautiful monitoring pages.<br/>Realize your true Enterprise Architecture.</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li><a href="#flow" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">View Our Demo</span></a>
                        </li>
                        <li><a href="#signup" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Request Beta Access</span></a>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<div id="flow" class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">A picture is worth a thousand words</h2>
                <p class="lead">Visualize mission critical components in a ways that makes sense to everyone.  Elevate your monitoring from lists.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/img/kraken-dataflow-ipad.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div id="console" class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">A better way to monitor</h2>
                <p class="lead">Reduce the complexity and convey a single view your enterprises health.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/img/phones-console.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div id="connectors" class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Remove the stovepipes</h2>
                <p class="lead">No more walled gardens of data, combine disparate sources of mission critical information in easy to understand and intuitive software stack.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/img/screen-routes.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->
<div id="connectors" class="content-section-b">
<div id="signup" class="container">
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4 class="text-center">
                    Dev Plan</h4>
            </div>
            <div class="panel-body text-center">
                <p class="lead">
                    <strong>Free</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><i class="icon-ok text-danger"></i>1 Account</li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>3 Monitors</li>
            </ul>
            <div class="panel-footer">
                <a class="btn btn-lg btn-block btn-danger" href="#signup">Request Beta Access</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="text-center">
                    Hobby Plan</h4>
            </div>
            <div class="panel-body text-center">
                <p class="lead">
                    <strong>$# / month</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><i class="icon-ok text-danger"></i>2 Accounts</li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>Email Support</li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>5 Monitors</li>
            </ul>
            <div class="panel-footer">
                <a class="btn btn-lg btn-block btn-info" href="#signup">Request Beta Access</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="text-center">
                    Business PLAN</h4>
            </div>
            <div class="panel-body text-center">
                <p class="lead">
                    <strong>$## / month</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><i class="icon-ok text-danger"></i>5 Accounts</li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>24/7 Email Support</li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>Phone Support</li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>10 Monitors</li>
            </ul>
            <div class="panel-footer">
                <a class="btn btn-lg btn-block btn-success" href="#signup">Request Beta Access</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-center">
                    Enterprise Plan</h4>
            </div>
            <div class="panel-body text-center">
                <p class="lead">
                    <strong>$### / month</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><i class="icon-ok text-danger"></i>20 Accounts</li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>Custom CSS</li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>24/7 Email Support</li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>24/7 Phone Support</li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>25 Monitors</li>
            </ul>
            <div class="panel-footer">
                <a class="btn btn-lg btn-block btn-primary" href="#signup">Request Beta Access</a>
            </div>
        </div>
    </div>
    
</div>
</div>

</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li><a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; CloudGuard℞ 2014. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>